@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 8rem;
}

header {
    background-color: black;
    background-image: linear-gradient(to bottom, black, black, rgb(18, 18, 18));
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, transparent, #f1bd32, #f1bd32, transparent) 1;
    
    position: fixed;
    top: 0;  
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.scrolled-header {
    background-color: rgba(0, 0, 0, 0.8); 
    background-image: none;
}

header img {
    height: 8rem;
    padding: 10px;
    margin-left: 7rem;
}

nav {
    margin: auto;
}

nav a {
    margin: 1rem;
    padding: 0px 5px 5px;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
    position: relative;
    overflow: hidden;
}

nav a:hover {
    color: #f1bd32;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%; 
    transform: translateX(-50%); 
    width: 0; 
    height: 3px; 
    background-color: #f1bd32;
    transition: width 0.3s ease-in-out; 
}

nav a:hover::after {
    width: 95%;
}

header button {
    background: linear-gradient(150deg,rgba(241, 189, 50, 1) 0%, rgb(188, 150, 25) 100%);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    color: white;
    height: 40px;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    margin-right: 7rem;
    white-space: nowrap;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

header button:hover {
    transform: translateY(-2px) scale(1.05);
    box-shadow: 0px 8px 15px rgba(241, 190, 50, 0.121); 
}

.section-title {
    margin-top: 9rem;
    text-align: center;
}

.title {
    font-size: 2.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 80px;
}

.subtitle {
    font-size: 1.1rem;
    color: #f1bd32;
    text-decoration: overline;
    text-decoration-thickness: 2px;
}

/* Configurações da Section Home */

#home {
    height: calc(100vh - 8rem);
    background-image: url(../images/background.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.426);
    display: flex;
}

#feedback {
    background-color: rgb(32, 32, 32);
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 500px;
    margin: auto;
    padding: 25px 25px 50px;
    color: white;
    text-align: center;
    position: relative;
}

.header-feedback {
    display: flex;
    align-items: center;
    margin: auto;
}

#logo-google {
    width: 25px;
    position: absolute; 
    right: 20px;
    top: 20px;
}

#feedback h3 {
    margin: 10px 0px;
    color: #f1bd32;
}

#logo-google {
    width: 25px;
}

/* Configurações da Section Services */

#services {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.services-box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.services-container {
    border: 1px solid rgba(0, 0, 0, 0.315);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.266);
    padding-bottom: 10px;
}

.services-card {
    width: 280px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.services-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.services-card img:hover {
    transform: scale(1.1);
    transform-origin: center center;
}

.card-info h3 {
    padding: 10px 0px 0px 10px;
}

.card-info a {
    text-decoration: none;
    color: #f1bd32;
    padding-left: 10px;
}

.card-info a:hover {
    color: black;
}

.block {
    animation: appear both;
    animation-timeline: view(80% 10%);
}

@keyframes appear {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

/* Presentation Section */

.presentation-title {
    padding-top: 9rem;
    text-align: center;
}

.presentation-container {
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    width: fit-content;
}

.presentation-left {
    width: 500px;
    text-align: justify;
}

.presentation-left h3 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    display: inline-block;
    border-bottom: 3px solid #f1bd32;
}

#welcome {
    font-weight: 400;
    font-size: 1.2rem;
}

.presentation-right img {
    width: 500px;
    height: 370px;
}

.animate-right {
    animation: right-appear both;
    animation-timeline: view(95% 10%);
}

@keyframes right-appear {
    from {
        opacity: 0;
        transform: translateX(180px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-left {
    animation: left-appear both;
    animation-timeline: view(95% 10%);
}

@keyframes left-appear {
    from {
        opacity: 0;
        transform: translateX(-180px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Contact Section */

#contact {
    padding-top: 0.2rem;
}

#contact iframe {
    width: 70%;
    height: 300px;
}

.contact-info {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-bottom: 10px;
}

.contact-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

span.material-symbols-outlined {
  font-size: 2.5rem;
  color: #f1bd32;
  padding-bottom: 5px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}